//Viewports

$large: 1600px;
$desktop: 1024px;
$desktop-breakpoint: 1023px;
$tablet: 768px;
$table-breakpoint: 767px;
$mobile: 320px;

//Project colors

$basic-black: #000000;
$basic-white: #ffffff;
$bright: #009de0;
$text-highlight-color: #bf4800;
$footer-background: #f5f5f7;
$footer-text-color: #6e6e73;
$header-background: #424245;
$header-text-color:rgba(255,255,255,0.92);
$error-color: #f93a25;
$input-border-color: #d2d3d3;
$text-color: #1d1d1f;

// Fonts

$main-font: "Roboto", "Arial", sans-serif;
